<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>琴音袅袅--支付平台Demo</title>
</head>
<body>
<h1>蓝鲸支付</h1>
<form action="/pay" method="post">
    <label for="price">订单金额：</label>
    <input type="number" step="0.01" name="price" required>
    <br>
    <label for="type">支付方式：</label>
    <select name="type" required>
        <option value="1">微信支付</option>
        <option value="2">支付宝支付</option>
    </select>
    <br><br>
    <button type="submit">支付</button>
</form>
</body>
</html>
